In [1]:
#import the libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

#read the csv file
data=pd.read_csv('driver.csv')
print(data)

       vehicle_id  year        make               model  \
0           26587  1984  Alfa Romeo           GT V6 2.5
1           27705  1984  Alfa Romeo           GT V6 2.5
2           26561  1984  Alfa Romeo  Spider Veloce 2000
3           27681  1984  Alfa Romeo  Spider Veloce 2000
4           27550  1984  AM General   DJ Po Vehicle 2WD
...           ...   ...         ...                 ...
38108       37564  2017       Volvo            XC60 FWD
38109       37547  2017       Volvo            XC90 AWD
38110       37548  2017       Volvo            XC90 AWD
38111       37703  2017       Volvo       XC90 AWD PHEV
38112       37687  2017       Volvo            XC90 FWD

                                    class              drive  \
0                        Minicompact Cars                NaN
1                        Minicompact Cars                NaN
2                             Two Seaters                NaN
3                             Two Seaters                NaN
4             Special Purpose Vehicle 2WD      2-Wheel Drive
...                                   ...                ...
38108     Small Sport Utility Vehicle 2WD  Front-Wheel Drive
38109  Standard Sport Utility Vehicle 4WD    All-Wheel Drive
38110  Standard Sport Utility Vehicle 4WD    All-Wheel Drive
38111  Standard Sport Utility Vehicle 4WD    All-Wheel Drive
38112  Standard Sport Utility Vehicle 2WD  Front-Wheel Drive

            transmission transmission_type  engine_index engine_descriptor  \
0         Manual 5-Speed               NaN          9001             (FFS)
1         Manual 5-Speed               NaN          9005    (FFS) CA model
2         Manual 5-Speed               NaN          9002             (FFS)
3         Manual 5-Speed               NaN          9006    (FFS) CA model
4      Automatic 3-Speed               NaN          1830             (FFS)
...                  ...               ...           ...               ...
38108     Automatic (S8)               NaN            90              SIDI
38109     Automatic (S8)               NaN            52              SIDI
38110     Automatic (S8)               NaN            53              SIDI
38111     Automatic (S8)               NaN            54        SIDI; PHEV
38112     Automatic (S8)               NaN            50              SIDI

       ...  hours_to_charge_ac_240v  composite_city_mpg composite_highway_mpg  \
0      ...                      0.0                   0                     0
1      ...                      0.0                   0                     0
2      ...                      0.0                   0                     0
3      ...                      0.0                   0                     0
4      ...                      0.0                   0                     0
...    ...                      ...                 ...                   ...
38108  ...                      0.0                   0                     0
38109  ...                      0.0                   0                     0
38110  ...                      0.0                   0                     0
38111  ...                      0.0                  29                    32
38112  ...                      0.0                   0                     0

       composite_combined_mpg range_ft1 city_range_ft1  highway_range_ft1  \
0                           0         0            0.0                0.0
1                           0         0            0.0                0.0
2                           0         0            0.0                0.0
3                           0         0            0.0                0.0
4                           0         0            0.0                0.0
...                       ...       ...            ...                ...
38108                       0         0            0.0                0.0
38109                       0         0            0.0                0.0
38110                       0         0            0.0                0.0
38111                      30         0            0.0                0.0
38112                       0         0            0.0                0.0

       range_ft2  city_range_ft2  highway_range_ft2
0            NaN            0.00                0.0
1            NaN            0.00                0.0
2            NaN            0.00                0.0
3            NaN            0.00                0.0
4            NaN            0.00                0.0
...          ...             ...                ...
38108        NaN            0.00                0.0
38109        NaN            0.00                0.0
38110        NaN            0.00                0.0
38111        NaN           13.84               13.3
38112        NaN            0.00                0.0

[38113 rows x 81 columns]

C:\Users\lsrin\AppData\Local\Temp\ipykernel_14648\790442021.py:8: DtypeWarning: Columns (7,44) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('driver.csv')

In [2]:
data.columns

Index(['vehicle_id', 'year', 'make', 'model', 'class', 'drive', 'transmission',
       'transmission_type', 'engine_index', 'engine_descriptor',
       'engine_cylinders', 'engine_displacement', 'turbocharger',
       'supercharger', 'fuel_type', 'fuel_type_1', 'fuel_type_2',
       'city_mpg_ft1', 'unrounded_city_mpg_ft1', 'city_mpg_ft2',
       'unrounded_city_mpg_ft2', 'city_gasoline_consumption_cd',
       'city_electricity_consumption', 'city_utility_factor',
       'highway_mpg_ft1', 'unrounded_highway_mpg_ft1', 'highway_mpg_ft2',
       'unrounded_highway_mpg_ft2', 'highway_gasoline_consumption_cd',
       'highway_electricity_consumption', 'highway_utility_factor',
       'unadjusted_city_mpg_ft1', 'unadjusted_highway_mpg_ft1',
       'unadjusted_city_mpg_ft2', 'unadjusted_highway_mpg_ft2',
       'combined_mpg_ft1', 'unrounded_combined_mpg_ft1', 'combined_mpg_ft2',
       'unrounded_combined_mpg_ft2', 'combined_electricity_consumption',
       'combined_gasoline_consumption_cd', 'combined_utility_factor',
       'annual_fuel_cost_ft1', 'annual_fuel_cost_ft2', 'gas_guzzler_tax',
       'save_or_spend_5_year', 'annual_consumption_in_barrels_ft1',
       'annual_consumption_in_barrels_ft2', 'tailpipe_co2_ft1',
       'tailpipe_co2_in_grams_mile_ft1', 'tailpipe_co2_ft2',
       'tailpipe_co2_in_grams_mile_ft2', 'fuel_economy_score', 'ghg_score',
       'ghg_score_alt_fuel', 'my_mpg_data', 'x2d_passenger_volume',
       'x2d_luggage_volume', 'x4d_passenger_volume', 'x4d_luggage_volume',
       'hatchback_passenger_volume', 'hatchback_luggage_volume',
       'start_stop_technology', 'alternative_fuel_technology',
       'electric_motor', 'manufacturer_code',
       'gasoline_electricity_blended_cd', 'vehicle_charger',
       'alternate_charger', 'hours_to_charge_120v', 'hours_to_charge_240v',
       'hours_to_charge_ac_240v', 'composite_city_mpg',
       'composite_highway_mpg', 'composite_combined_mpg', 'range_ft1',
       'city_range_ft1', 'highway_range_ft1', 'range_ft2', 'city_range_ft2',
       'highway_range_ft2'],
      dtype='object')

In [3]:
print(data.size)
print(data.shape)
print(data.sample(10))
print(data.dtypes)

3087153
(38113, 81)
       vehicle_id  year           make                  model  \
25391       22992  2007      Chevrolet        TrailBlazer 4WD
30476       30806  2011  Mercedes-Benz                G55 AMG
28182       25699  2009  Mercedes-Benz           GL450 4matic
25327       23376  2007      Chevrolet  Express 1500/2500 2WD
36510       36154  2016  Mercedes-Benz       E400 Convertible
24977       21770  2006         Subaru            Impreza AWD
33587       34000  2014           Ford              Focus FWD
9764         8184  1991          Dodge        D250 Pickup 2WD
24984       21868  2006         Subaru             Legacy AWD
21813       19879  2004            BMW      325xi Sport Wagon

                             class                       drive  \
25391  Sport Utility Vehicle - 4WD  4-Wheel or All-Wheel Drive
30476  Sport Utility Vehicle - 4WD               4-Wheel Drive
28182  Sport Utility Vehicle - 4WD  4-Wheel or All-Wheel Drive
25327         Vans, Passenger Type            Rear-Wheel Drive
36510              Subcompact Cars            Rear-Wheel Drive
24977              Subcompact Cars  4-Wheel or All-Wheel Drive
33587                 Compact Cars           Front-Wheel Drive
9764        Standard Pickup Trucks            Rear-Wheel Drive
24984                 Compact Cars  4-Wheel or All-Wheel Drive
21813         Small Station Wagons  4-Wheel or All-Wheel Drive

            transmission transmission_type  engine_index engine_descriptor  \
25391  Automatic 4-Speed             CLKUP             0               NaN
30476  Automatic 5-Speed               NaN           439               NaN
28182  Automatic 7-Speed   EMS 2MODE CLKUP             0               NaN
25327  Automatic 4-Speed             CLKUP             0               NaN
36510  Automatic 7-Speed               NaN           143              SIDI
24977     Manual 5-Speed               NaN             0               NaN
33587     Manual 5-Speed               NaN           418              SIDI
9764      Manual 4-Speed           Creeper          2850             (FFS)
24984     Automatic (S4)       2MODE CLKUP             0               NaN
21813     Manual 5-Speed               NaN             0               NaN

       ...  hours_to_charge_ac_240v  composite_city_mpg composite_highway_mpg  \
25391  ...                      0.0                   0                     0
30476  ...                      0.0                   0                     0
28182  ...                      0.0                   0                     0
25327  ...                      0.0                   0                     0
36510  ...                      0.0                   0                     0
24977  ...                      0.0                   0                     0
33587  ...                      0.0                   0                     0
9764   ...                      0.0                   0                     0
24984  ...                      0.0                   0                     0
21813  ...                      0.0                   0                     0

       composite_combined_mpg range_ft1 city_range_ft1  highway_range_ft1  \
25391                       0         0            0.0                0.0
30476                       0         0            0.0                0.0
28182                       0         0            0.0                0.0
25327                       0         0            0.0                0.0
36510                       0         0            0.0                0.0
24977                       0         0            0.0                0.0
33587                       0         0            0.0                0.0
9764                        0         0            0.0                0.0
24984                       0         0            0.0                0.0
21813                       0         0            0.0                0.0

       range_ft2  city_range_ft2  highway_range_ft2
25391        NaN             0.0                0.0
30476        NaN             0.0                0.0
28182        NaN             0.0                0.0
25327        NaN             0.0                0.0
36510        NaN             0.0                0.0
24977        NaN             0.0                0.0
33587        NaN             0.0                0.0
9764         NaN             0.0                0.0
24984        NaN             0.0                0.0
21813        NaN             0.0                0.0

[10 rows x 81 columns]
vehicle_id             int64
year                   int64
make                  object
model                 object
class                 object
                      ...
city_range_ft1       float64
highway_range_ft1    float64
range_ft2            float64
city_range_ft2       float64
highway_range_ft2    float64
Length: 81, dtype: object

In [4]:
data.describe()

,vehicle_id,year,engine_index,engine_cylinders,engine_displacement,supercharger,fuel_type_2,city_mpg_ft1,unrounded_city_mpg_ft1,city_mpg_ft2,...,hours_to_charge_ac_240v,composite_city_mpg,composite_highway_mpg,composite_combined_mpg,range_ft1,city_range_ft1,highway_range_ft1,range_ft2,city_range_ft2,highway_range_ft2
count,38113.000000,38113.000000,38113.000000,37977.000000,37979.000000,0.0,0.0,38113.000000,38113.000000,38113.000000,...,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,38113.000000,0.0,38113.000000,38113.000000
mean,19170.638496,2000.194527,8799.389001,5.736656,3.317583,NaN,NaN,17.981109,4.606426,0.546218,...,0.005549,0.082203,0.080891,0.081311,0.469708,0.426249,0.419197,NaN,0.043973,0.040051
std,11134.878665,10.464573,17781.058490,1.752254,1.361995,NaN,NaN,6.849728,10.113963,4.109282,...,0.161014,2.156682,2.052187,2.097794,9.352069,9.104702,9.315914,NaN,1.311628,1.169281
min,1.000000,1984.000000,0.000000,2.000000,0.000000,NaN,NaN,6.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000
25%,9529.000000,1991.000000,0.000000,4.000000,2.200000,NaN,NaN,15.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000
50%,19058.000000,2001.000000,212.000000,6.000000,3.000000,NaN,NaN,17.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000
75%,28779.000000,2009.000000,4451.000000,6.000000,4.300000,NaN,NaN,20.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000
max,38542.000000,2017.000000,69102.000000,16.000000,8.400000,NaN,NaN,150.000000,150.000000,145.000000,...,7.000000,97.000000,81.000000,88.000000,315.000000,305.900000,346.900000,NaN,103.030000,90.550000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38113 entries, 0 to 38112
Data columns (total 81 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   vehicle_id                         38113 non-null  int64
 1   year                               38113 non-null  int64
 2   make                               38113 non-null  object
 3   model                              38113 non-null  object
 4   class                              38113 non-null  object
 5   drive                              36924 non-null  object
 6   transmission                       38102 non-null  object
 7   transmission_type                  15045 non-null  object
 8   engine_index                       38113 non-null  int64
 9   engine_descriptor                  22693 non-null  object
 10  engine_cylinders                   37977 non-null  float64
 11  engine_displacement                37979 non-null  float64
 12  turbocharger                       5239 non-null   object
 13  supercharger                       0 non-null      float64
 14  fuel_type                          38113 non-null  object
 15  fuel_type_1                        38113 non-null  object
 16  fuel_type_2                        0 non-null      float64
 17  city_mpg_ft1                       38113 non-null  int64
 18  unrounded_city_mpg_ft1             38113 non-null  float64
 19  city_mpg_ft2                       38113 non-null  int64
 20  unrounded_city_mpg_ft2             38113 non-null  float64
 21  city_gasoline_consumption_cd       38113 non-null  float64
 22  city_electricity_consumption       38113 non-null  float64
 23  city_utility_factor                38113 non-null  float64
 24  highway_mpg_ft1                    38113 non-null  int64
 25  unrounded_highway_mpg_ft1          38113 non-null  float64
 26  highway_mpg_ft2                    38113 non-null  int64
 27  unrounded_highway_mpg_ft2          38113 non-null  float64
 28  highway_gasoline_consumption_cd    38113 non-null  float64
 29  highway_electricity_consumption    38113 non-null  float64
 30  highway_utility_factor             38113 non-null  float64
 31  unadjusted_city_mpg_ft1            38113 non-null  float64
 32  unadjusted_highway_mpg_ft1         38113 non-null  float64
 33  unadjusted_city_mpg_ft2            38113 non-null  float64
 34  unadjusted_highway_mpg_ft2         38113 non-null  float64
 35  combined_mpg_ft1                   38113 non-null  int64
 36  unrounded_combined_mpg_ft1         38113 non-null  float64
 37  combined_mpg_ft2                   38113 non-null  int64
 38  unrounded_combined_mpg_ft2         38113 non-null  float64
 39  combined_electricity_consumption   38113 non-null  float64
 40  combined_gasoline_consumption_cd   38113 non-null  float64
 41  combined_utility_factor            38113 non-null  float64
 42  annual_fuel_cost_ft1               38113 non-null  int64
 43  annual_fuel_cost_ft2               38113 non-null  int64
 44  gas_guzzler_tax                    964 non-null    object
 45  save_or_spend_5_year               38113 non-null  int64
 46  annual_consumption_in_barrels_ft1  38113 non-null  float64
 47  annual_consumption_in_barrels_ft2  38113 non-null  float64
 48  tailpipe_co2_ft1                   38113 non-null  int64
 49  tailpipe_co2_in_grams_mile_ft1     38113 non-null  float64
 50  tailpipe_co2_ft2                   38113 non-null  int64
 51  tailpipe_co2_in_grams_mile_ft2     38113 non-null  float64
 52  fuel_economy_score                 38113 non-null  int64
 53  ghg_score                          38113 non-null  int64
 54  ghg_score_alt_fuel                 38113 non-null  int64
 55  my_mpg_data                        38113 non-null  object
 56  x2d_passenger_volume               38113 non-null  int64
 57  x2d_luggage_volume                 38113 non-null  int64
 58  x4d_passenger_volume               38113 non-null  int64
 59  x4d_luggage_volume                 38113 non-null  int64
 60  hatchback_passenger_volume         38113 non-null  int64
 61  hatchback_luggage_volume           38113 non-null  int64
 62  start_stop_technology              0 non-null      float64
 63  alternative_fuel_technology        3047 non-null   object
 64  electric_motor                     0 non-null      float64
 65  manufacturer_code                  0 non-null      float64
 66  gasoline_electricity_blended_cd    38113 non-null  bool
 67  vehicle_charger                    0 non-null      float64
 68  alternate_charger                  0 non-null      float64
 69  hours_to_charge_120v               38113 non-null  int64
 70  hours_to_charge_240v               38113 non-null  float64
 71  hours_to_charge_ac_240v            38113 non-null  float64
 72  composite_city_mpg                 38113 non-null  int64
 73  composite_highway_mpg              38113 non-null  int64
 74  composite_combined_mpg             38113 non-null  int64
 75  range_ft1                          38113 non-null  int64
 76  city_range_ft1                     38113 non-null  float64
 77  highway_range_ft1                  38113 non-null  float64
 78  range_ft2                          0 non-null      float64
 79  city_range_ft2                     38113 non-null  float64
 80  highway_range_ft2                  38113 non-null  float64
dtypes: bool(1), float64(39), int64(28), object(13)
memory usage: 23.3+ MB

In [ ]:
c=data.columns
for x in c:
    if len(x)>0:
        print(x)

In [6]:
# Step 1: Identify categorical columns
categorical_cols = data.select_dtypes(include=['object']).columns
categorical_cols

Index(['make', 'model', 'class', 'drive', 'transmission', 'transmission_type',
       'engine_descriptor', 'turbocharger', 'fuel_type', 'fuel_type_1',
       'gas_guzzler_tax', 'my_mpg_data', 'alternative_fuel_technology'],
      dtype='object')

In [7]:
# Step2: apply One-Hot
data_encoded = pd.get_dummies(data, columns=categorical_cols, drop_first=True)

In [8]:
#since simpleImputer need at least one values
# Drop columns where all values are missing
data_encoded.dropna(axis=1, how='all', inplace=True)

In [9]:
# Handle missing values (if any) for numerical columns
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')  # Using SimpleImputer for missing values in numerical columns
numerical_cols = data_encoded.select_dtypes(include=['float64', 'int64']).columns
data_encoded[numerical_cols] = imputer.fit_transform(data_encoded[numerical_cols])

In [10]:
# Standardize the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data_encoded)

In [ ]:
# Feature Selection using correlation matrix
correlation_matrix = data_encoded.corr()
plt.figure(figsize=(10, 8))
sn.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.show()

In [ ]:
#apply PCA
from sklearn.decomposition import PCA
pca = PCA(n_components=2)  # Reduce the data to 2 components for visualization
pca_data = pca.fit_transform(scaled_data)

In [ ]:
# Explained variance ratio
explained_variance = pca.explained_variance_ratio_
print(f"explainedvariance by each_component: {explained_variance}")

In [ ]:
#clustering part
from sklearn.cluster import KMeans


# Clustering on original data
kmeans_original = KMeans(n_clusters=3, random_state=42)
data_encoded['Cluster_original'] = kmeans_original.fit_predict(scaled_data)


kmeans = KMeans(n_clusters=3, random_state=42)  # Adjust number of clusters as needed
data_encoded['Cluster'] = kmeans.fit_predict(pca_data)  # Add cluster labels to original DataFrame

In [ ]:
from sklearn.metrics import silhouette_score, davies_bouldin_score

sil_score_original = silhouette_score(scaled_data, data_encoded['Cluster_original'])
db_score_original = davies_bouldin_score(scaled_data, data_encoded['Cluster_original'])

print(f'Silhouette Score (original_Data): {sil_score_original:.2f}')
print(f'Davies-Bouldin Score (original_Data): {db_score_original:.2f}')

In [ ]:


# ensure clustering labels exist in the PCA DataFrame
sil_score = silhouette_score(pca_data, data_encoded['Cluster'])
db_score = davies_bouldin_score(pca_data, data_encoded['Cluster'])

print(f'Silhouette Score using pca: {sil_score:.2f}')
print(f'Davies-Bouldin Score of pca: {db_score:.2f}')

In [ ]:
#visualization
plt.scatter(pca_data[:, 0], pca_data[:, 1], c=data_encoded['Cluster'], cmap='viridis')
plt.xlabel('principal Component 1')
plt.ylabel('principal Component 2')
plt.title('ClustersPCA')
plt.colorbar(label='Cluster')
plt.show()
plt.figure(figsize=(22, 20))

In [ ]:
plt.figure(figsize=(10, 8))
plt.scatter(scaled_data[:, 0], scaled_data[:, 1], c=data_encoded['Cluster_original'], cmap='viridis')
plt.xlabel('Feature 1')
plt.ylabel('Feature 2')
plt.title('Clusters (Original_Data)')
plt.colorbar(label='Cluster')
plt.show()